<title>pickelme</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
<h1>pickles</h1>
</nav>
  
  <br>
  <form action="/pickel" method="post">
    <div class="flash">
      <table class="table">
      <tr><td>pickled? </td> <td><input type="text" name="pickled"></td></tr>
      <table>
        <input type="submit" value="Submit">
    </div>
  </form>
